<h1 class="text-center">My-Blog Bloggers</h1>
<div class=" text-center flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>

<div class="container">
<% @users.each do |user| %>
    <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
        <div class="card text-center shadow  mb-5 bg-white rounded">
        <div class="card-header font-italic">
            <%= link_to user.username, user %>
        </div>
        <div class="card-body">
            <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
            <%= link_to "View profile", user, class: "btn btn-outline-success" %>
            <%
=begin%>
 <% if logged_in? %>
            <%if  user == current_user %> 
<%
=end%>
            <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" if can? :update, user %>
            <%
=begin%>
 <% end %> 
<%
=end%>
            <%
=begin%>
 <% if current_user.admin? %> 
<%
=end%>
            <%= link_to "Delete Profile", user_path(user), class: "btn btn-outline-danger" if can? :destroy, user, method: :delete,
            data: {confirm: "Are you sure you want to delete this user account"} %>
            <%
=begin%>
 <% end %>
         <% end %> 
<%
=end%>
        </div>
        <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
        </div>
        </div>
   </div>
</div>
<% end %>
</div>

<div class=" text-center mb-4 flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>