<h3 class="text-center mt-3">Listing User in table form</h3>
<table id="userTable" class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>User Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user,index| %>
      <tr>
        <td><%= @users.offset + index + 1 %></td>
        <td><%= user.username %></td>
        <td>
          <%= link_to 'View', user_path(user) %>
          <% if logged_in? && (user == current_user || current_user.admin?) %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end%>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>
<%
=begin%>
 <%= link_to 'Download PDF', articlestable_path(format: :pdf) %> 
<%
=end%>



 <div class=" text-center mb-4 flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div> 


<script>
document.addEventListener('turbolinks:load', function() {
  $('#userTable').DataTable();
});

  
</script>
